<mat-toolbar class="row " style="background: linear-gradient(90deg, #000046 0%,#1cb5e0 100% );">
    <span class="col-md-6 "></span>
    <span class="fill-remaining-space col-md-5"></span>
    <button class=" btn-dialog-close col-md-1" mat-stroked-button (click)="onClose()" tabIndex="-1">
      <span><b>X</b></span>
      </button>
</mat-toolbar>

<mat-dialog-content>
    <form *ngIf="authService.currentUserRole == 'Admin'" [formGroup]="consommableService.AddOrUpdateConsommableForm" class="normal-form" (submit)="onSubmit()">
        <mat-grid-list cols="2">
            <mat-grid-tile class="col-md-10">

                <div class="controles-container">
                    <input type="hidden" formControlName="consommableID" />
                    <input type="hidden" formControlName="active" />
                    <mat-form-field class="col-md-12">
                        <mat-label>Compresseur</mat-label>
                        <mat-select formControlName="equipementFilialeID">
                            <mat-option value=""></mat-option>
                            <mat-option *ngFor="let compresseurFiliale of consommableService.ActiveCompresseurFiliale" [value]="compresseurFiliale.equipementFilialeID" disabled="true">
                                {{ GetCompresseurFilialeByIDCorrespondance(compresseurFiliale.equipementFilialeID)?.nom }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <input formControlName="consommationComp" matInput placeholder="Consommation Électrique Théorique (en kWh)" autocomplete="off" />
                        <mat-error *ngIf="
                            consommableService.AddOrUpdateConsommableForm
                    .controls.consommationComp.errors?.required
                ">Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <input formControlName="prixUnitaire" matInput placeholder="Prix Unitaire du kWh (en DT/kWh)" autocomplete="off" />
                        <mat-error *ngIf="
                                consommableService.AddOrUpdateConsommableForm
                        .controls.prixUnitaire.errors?.required
                    ">Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <input readonly formControlName="date" matInput placeholder="Date" autocomplete="off" type="date" />
                        <mat-error *ngIf="
                                    consommableService.AddOrUpdateConsommableForm
                            .controls.date.errors?.required
                        ">Ce champ est obligatoire</mat-error>
                    </mat-form-field>





                </div>

            </mat-grid-tile>
            <mat-grid-tile class="col-md-12">
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="
                        consommableService.AddOrUpdateConsommableForm
                .invalid
            " class="col-md-12">
            <span
              *ngIf="
              consommableService.AddOrUpdateConsommableForm
                  .controls.consommableID.value ==
                '00000000-0000-0000-0000-000000000000'
              "
              ><i class="pe-7s-plus" style="padding-right: 5px"></i>
              Ajouter</span
            ><span
              *ngIf="
              consommableService.AddOrUpdateConsommableForm
                  .controls.consommableID.value !=
                '00000000-0000-0000-0000-000000000000'
              "
              ><i class="pe-7s-pen" style="padding-right: 5px"></i
              >Modifier</span
            >
          </button>

                    <button mat-raised-button color="warn" type="button" (click)="onClear()" class="col-md-12" style="margin-top: 7px">
            <i class="pe-7s-less" style="padding-right: 5px"></i> Vider
          </button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>












    <form *ngIf="authService.currentUserRole!= 'Admin'" [formGroup]="consommableService.AddOrUpdateConsommableForm" class="normal-form" (submit)="onSubmit()">
        <mat-grid-list cols="2">
            <mat-grid-tile class="col-md-10">

                <div class="controles-container">
                    <input type="hidden" formControlName="consommableID" />
                    <input type="hidden" formControlName="active" />
                    <mat-form-field class="col-md-12">
                        <mat-label>Compresseur</mat-label>
                        <mat-select formControlName="equipementFilialeID">
                            <mat-option value=""></mat-option>
                            <mat-option *ngFor="let compresseurFiliale of consommableService.ActiveCompresseurFiliale" [value]="compresseurFiliale.equipementFilialeID">
                                {{ GetCompresseurFilialeByIDCorrespondance(compresseurFiliale.equipementFilialeID)?.nom }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <input formControlName="consommationComp" matInput placeholder="Consommation Électrique Théorique (en kWh)" autocomplete="off" />
                        <mat-error *ngIf="
                                consommableService.AddOrUpdateConsommableForm
                        .controls.consommationComp.errors?.required
                    ">Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <input formControlName="prixUnitaire" matInput placeholder="Prix Unitaire du kWh (en DT/kWh)" autocomplete="off" />
                        <mat-error *ngIf="
                                    consommableService.AddOrUpdateConsommableForm
                            .controls.prixUnitaire.errors?.required
                        ">Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <input formControlName="date" matInput placeholder="Date" autocomplete="off" type="date" />
                        <mat-error *ngIf="
                                        consommableService.AddOrUpdateConsommableForm
                                .controls.date.errors?.required
                            ">Ce champ est obligatoire</mat-error>
                    </mat-form-field>





                </div>

            </mat-grid-tile>
            <mat-grid-tile class="col-md-12">
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="
                            consommableService.AddOrUpdateConsommableForm
                    .invalid
                " class="col-md-12">
                <span
                  *ngIf="
                  consommableService.AddOrUpdateConsommableForm
                      .controls.consommableID.value ==
                    '00000000-0000-0000-0000-000000000000'
                  "
                  ><i class="pe-7s-plus" style="padding-right: 5px"></i>
                  Ajouter</span
                ><span
                  *ngIf="
                  consommableService.AddOrUpdateConsommableForm
                      .controls.consommableID.value !=
                    '00000000-0000-0000-0000-000000000000'
                  "
                  ><i class="pe-7s-pen" style="padding-right: 5px"></i
                  >Modifier</span
                >
              </button>

                    <button mat-raised-button color="warn" type="button" (click)="onClear()" class="col-md-12" style="margin-top: 7px">
                <i class="pe-7s-less" style="padding-right: 5px"></i> Vider
              </button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>