<mat-toolbar class="row " style="background: linear-gradient(90deg, #000046 0%,#1cb5e0 100% );">
  <span class="col-md-6 "></span>
  <span class="fill-remaining-space col-md-5"></span>
  <button class=" btn-dialog-close col-md-1" mat-stroked-button (click)="onClose()" tabIndex="-1">
<span><b>X</b></span>
</button>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="equipementDataService.AddOrUpdateCompresseurForm" class="normal-form" (submit)="onSubmit()">
      <mat-grid-list cols="2">
          <mat-grid-tile class="col-md-10">
              <div class="controles-container">
                  <input type="hidden" formControlName="equipementID" />
                  <input type="hidden" formControlName="active" />
                  <mat-form-field class="col-md-12">
                      <input formControlName="nom" matInput placeholder="Type Compresseur" autocomplete="off" type="text" input-clear />
                      <mat-error *ngIf="
            equipementDataService.AddOrUpdateCompresseurForm
              .controls.nom.errors?.required
          ">Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-12">
                      <input formControlName="puissance" matInput placeholder="Puissance (kW)" autocomplete="off" />
                      <mat-error *ngIf="
            equipementDataService.AddOrUpdateCompresseurForm
              .controls.puissance.errors?.required
          ">Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-12">
                      <input formControlName="debit" matInput placeholder="Débit (m3/h)" autocomplete="off" />
                      <mat-error *ngIf="
          equipementDataService.AddOrUpdateCompresseurForm
            .controls.debit.errors?.required
        ">Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-12">
                      <input formControlName="puissanceCharge" matInput placeholder="Puissance en charge (kW)" autocomplete="off" />
                      <mat-error *ngIf="
        equipementDataService.AddOrUpdateCompresseurForm
          .controls.puissanceCharge.errors?.required
      ">Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-12">
                      <input formControlName="puissanceVide" matInput placeholder="Puissance à vide (kW)" autocomplete="off" />
                      <mat-error *ngIf="
      equipementDataService.AddOrUpdateCompresseurForm
        .controls.puissanceVide.errors?.required
    ">Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <!-- <div class="form-group" >
          <select class="form-control" formControlName="fournisseurID" >
            <option value="'00000000-0000-0000-0000-000000000000'">---------</option>
            <option *ngFor="let fournisseur of this.fournisseurDataService.list" [value]="fournisseur.fournisseurID">{{fournisseur.nom}}</option>
            
          </select>
          </div> -->

                  <mat-form-field class=" col-md-12">
                      <mat-label>Fournisseur</mat-label>
                      <mat-select formControlName="fournisseurID">
                          <mat-option value="">---------</mat-option>
                          <mat-option *ngFor="let fournisseur of listFournisseur" [value]="fournisseur.fournisseurID">
                              {{ fournisseur.nom }}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </mat-grid-tile>
          <mat-grid-tile class="col-md-12">
              <div class="button-row">
                  <button mat-raised-button color="primary" type="submit" [disabled]="
          equipementDataService.AddOrUpdateCompresseurForm
            .invalid
        " class="col-md-12">
        <span
          *ngIf="
            equipementDataService.AddOrUpdateCompresseurForm
              .controls.equipementID.value ==
            '00000000-0000-0000-0000-000000000000'
          "
          ><i class="pe-7s-plus" style="padding-right: 5px"></i>
          Ajouter</span
        ><span
          *ngIf="
            equipementDataService.AddOrUpdateCompresseurForm
              .controls.equipementID.value !=
            '00000000-0000-0000-0000-000000000000'
          "
          ><i class="pe-7s-pen" style="padding-right: 5px"></i
          >Modifier</span
        >
      </button>

                  <button mat-raised-button color="warn" type="button" (click)="onClear()" class="col-md-12" style="margin-top: 7px">
        <i class="pe-7s-less" style="padding-right: 5px"></i> Vider
      </button>
              </div>
          </mat-grid-tile>
      </mat-grid-list>
  </form>
</mat-dialog-content>