<mat-toolbar class="row rounded " style="background: linear-gradient(90deg, #000046 0%,#1cb5e0 100% );">
    <div class="col-md-3 "><h2 mat-dialog-title class="text-white ml-0">Ajouter une fiche suivi</h2></div>
    <span class="fill-remaining-space col-md-8"></span>
    <button class=" btn-dialog-close col-md-1" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <span><b>X</b></span>
  </button>
</mat-toolbar>


<form [formGroup]="data.form"  (submit)="onSubmit()">
<div class="container-fluid">
   <div class="row  p-3">
       
           
                <div class="col-md-3  ">

                    <input type="hidden" formControlName="ficheSuiviID" />
                    <!-- <input type="hidden" formControlName="equipementFilialeID" /> -->
                    <input type="hidden" formControlName="equipementFilialeID" *ngIf="
        data.form.controls.ficheSuiviID.value !=
        '00000000-0000-0000-0000-000000000000'
      " />
                    <mat-form-field class="w-100 p-2" *ngIf="
        data.form.controls.ficheSuiviID.value ==
        '00000000-0000-0000-0000-000000000000'
      ">
      <!-- (selectionChange)="OnCompressorSelectionChange($event)" -->
                        <mat-select placeholder=" Selectionnez un compresseur" name="compFiliale" formControlName="equipementFilialeID" >
                            <mat-option *ngFor="let cf of listCF" [value]="cf.equipementFilialeID">{{ cf.nom }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-100 p-2" *ngIf="data.form.controls.ficheSuiviID.value ==
                    '00000000-0000-0000-0000-000000000000' " >
                        <input formControlName="date" type="date" matInput placeholder="Date" autocomplete="off" />
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field  class="w-100 p-2" *ngIf="data.form.controls.ficheSuiviID.value !=
                    '00000000-0000-0000-0000-000000000000' " >
                        <input formControlName="date" [readonly]="this.data.form.controls.ficheSuiviID.value!='00000000-0000-0000-0000-000000000000'" type="text" matInput placeholder="Date" autocomplete="off" [value]="data.form.controls.date.value|date:'dd/MM/yyyy'"/>
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100 p-2">
                        <input formControlName="nbre_Heurs_Total" matInput placeholder="Nombre total d'heures" autocomplete="off" />
                        <mat-error *ngIf="data.form.controls.nbre_Heurs_Total.errors?.required"> Ce champ est obligatoire
                        </mat-error>
                        <mat-error *ngIf="data.form.controls.nbre_Heurs_Total.errors?.pattern"> Ce champ est non valide</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100 p-2">
                        <input formControlName="nbre_Heurs_Charge" matInput placeholder="Nbre d'heures en charge" autocomplete="off" />
                        <mat-error *ngIf="data.form.controls.nbre_Heurs_Charge.errors?.required"> Ce champ est obligatoire
                        </mat-error>
                        <mat-error *ngIf="data.form.controls.nbre_Heurs_Charge.errors?.pattern"> Ce champ est non valide</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100 p-2" [hidden]="GetCompFilialeByIDCorrespondance(data.form.controls.equipementFilialeID.value)?.haveElectricCounter==false">
                        <input formControlName="index_Electrique"  matInput placeholder="Index Compteur Électrique" autocomplete="off" />
                        <mat-error *ngIf="data.form.controls.index_Electrique.errors?.required"> Ce champ est obligatoire
                        </mat-error>
                        <mat-error *ngIf="data.form.controls.index_Electrique.errors?.pattern"> Ce champ est non valide</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100 p-2">
                            <input formControlName="tempsArret" matInput placeholder="Temps d'arrêt (panne)" autocomplete="off" />
                            <mat-error *ngIf="data.form.controls.tempsArret.errors?.required"> Ce champ est obligatoire</mat-error>
                            <mat-error *ngIf="data.form.controls.tempsArret.errors?.pattern"> Ce champ est non valide</mat-error>
                        </mat-form-field>
              
                    
                </div>
                <div class="col-md-3  ">

                        <mat-form-field class="w-100 p-2">
                                <mat-select placeholder=" Selectionnez un état" name="Etat" formControlName="etat">
                                    <mat-option *ngFor="let e of data.etatList" [value]="e">{{ e }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                    <mat-form-field class="w-100 p-2">
                        <input formControlName="pointDeRoseeDuSecheur" matInput placeholder="pointDeRoseeDuSecheur" autocomplete="off" />
                        <mat-error *ngIf="data.form.controls.pointDeRoseeDuSecheur.errors?.required"> Ce champ est obligatoire
                        </mat-error>
                        <mat-error *ngIf="data.form.controls.pointDeRoseeDuSecheur.errors?.pattern"> Ce champ est non valide
                        </mat-error>
                    </mat-form-field>
                    
                   
                    <mat-form-field class="w-100 p-2" [hidden]="GetCompFilialeByIDCorrespondance(data.form.controls.equipementFilialeID.value)?.haveDebitMetre==false">
                        <input formControlName="index_Debitmetre" matInput placeholder="index_Debitmetre" autocomplete="off" />
                        <mat-error *ngIf="data.form.controls.index_Debitmetre.errors?.required"> Ce champ est obligatoire
                        </mat-error>
                        <mat-error *ngIf="data.form.controls.index_Debitmetre.errors?.pattern"> Ce champ est non valide
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100 p-2">
                        <input formControlName="remarques" matInput placeholder="Remarques" autocomplete="off" />
                        <mat-error *ngIf="data.form.controls.remarques.errors?.required"> Ce champ est obligatoire</mat-error>
                        <mat-error *ngIf="data.form.controls.remarques.errors?.pattern"> Ce champ est non valide</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100 p-2">
                            <input formControlName="nombreHeuresProductionUsineLeJourPrecedent" matInput placeholder="Nombre Heures Production Usine Le Jour Precedent" autocomplete="off" />
                            <mat-error *ngIf="data.form.controls.nombreHeuresProductionUsineLeJourPrecedent.errors?.required"> Ce champ est obligatoire
                            </mat-error>
                            <mat-error *ngIf="data.form.controls.nombreHeuresProductionUsineLeJourPrecedent.errors?.pattern"> Ce champ est non valide
                            </mat-error>
                        </mat-form-field>
                    <mat-form-field class="w-100 p-2">
                            <input formControlName="priseCompteurDernierEntretien" matInput placeholder="Prise Compteur Dernier Entretien" autocomplete="off" />
                            <mat-error *ngIf="data.form.controls.priseCompteurDernierEntretien.errors?.required"> Ce champ est obligatoire</mat-error>
                            <mat-error *ngIf="data.form.controls.priseCompteurDernierEntretien.errors?.pattern"> Ce champ est non valide</mat-error>
                        </mat-form-field>
                       
                    

                </div>
             

<div class="col-md-3 ">
        <mat-form-field class="w-100 p-2 ">
                <input formControlName="tHuileC" matInput placeholder="Thuile (°C)" autocomplete="off" />
                <mat-error *ngIf="data.form.controls.tHuileC.errors?.required"> Ce champ est obligatoire</mat-error>
                <mat-error *ngIf="data.form.controls.tHuileC.errors?.pattern"> Ce champ est non valide</mat-error>
            </mat-form-field>
            <div class="">
                <small *ngIf="data.form.controls.tHuileC.value>=90" class="text-warning"> La Température d’huile est élevée </small>
            </div>
                    <mat-form-field class="w-100 p-2">
                    
                 


                        <mat-select placeholder="Type Dernier Entretien" name="typeDernierEntretien" formControlName="typeDernierEntretien" >
                                <mat-option *ngFor="let type of data.typeEntretienList" [value]="type">{{ type }}
                                </mat-option>
                               
                            </mat-select>
                             <mat-error *ngIf="data.form.controls.typeDernierEntretien.errors?.required"> Ce champ est obligatoire</mat-error>
                                <mat-error *ngIf="data.form.controls.typeDernierEntretien.errors?.pattern"> Ce champ est non valide</mat-error>
                    </mat-form-field>
                   
                    <mat-form-field class="w-100 p-2">

                        <input formControlName="fraisEntretienReparation" (keyup)="OnfraisEntretienReparationChange()" matInput placeholder="Frais Entretien ou Reparation" autocomplete="off" type="number" [readonly]="this.data.form.controls.ficheSuiviID.value!='00000000-0000-0000-0000-000000000000'" />
                        <mat-error *ngIf="data.form.controls.fraisEntretienReparation.errors?.required"> Ce champ est obligatoire
                        </mat-error>
                        <mat-error *ngIf="data.form.controls.fraisEntretienReparation.errors?.pattern"> Ce champ est non valide
                        </mat-error>
                    </mat-form-field>
                    <div class="form-group mt-2" [hidden]="data.form.controls.fraisEntretienReparation.value<=0 || data.form.controls.ficheSuiviID.value!='00000000-0000-0000-0000-000000000000'">
                            <div class="custom-file">
                              <input type="file" formControlName="files"  class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" (change)="data.onUpload($event)" accept="" multiple >
                              <label class="custom-file-label" for="inputGroupFile04">Choisir un fichier</label>
                            </div>
                           
                          </div>
                          <div class=""  [hidden]="data.form.controls.fraisEntretienReparation.value<=0 || data.form.controls.ficheSuiviID.value!='00000000-0000-0000-0000-000000000000'" >
                               
                    <div class="border border-secondary p-2 rounded" *ngIf="data.fileList.length>0">
                       
                        <div class="badge badge-secondary ml-1" *ngFor="let Docmument of data.fileList"><i class="fa fa-paperclip mr-1"></i><span class="tewt-log">{{Docmument.name}}</span></div>
                    
                    </div>      
                          </div>
                         
                
              
                      
                </div>


   
<div class="col-md-3 my-auto ">
      
 <mat-checkbox [disabled]="data.form.controls.nombreDeJoursOuvrablesDuMois.value!=0 && data.form.controls.ficheSuiviID.value=='00000000-0000-0000-0000-000000000000'" (change)=" OnIsLastFicheSuiviInMonthChange($event.source.checked)"><small>Derniere <strong>Fiche suivi</strong>  dans   </small> <span class="badge badge-info">{{data.form.controls.date.value|date:"MMMM"}}</span> ?</mat-checkbox>
    <div class="border border-secondary rounded mb-2 p-2 w-100 " *ngIf="lastFSInThisMonth==true">
           
         
            <mat-form-field class="w-100 p-2">
                    <input formControlName="nombreDeJoursOuvrablesDuMois" matInput placeholder="Nombre De Jours Ouvrables Du Mois" autocomplete="off" />
                    <mat-error *ngIf="data.form.controls.nombreDeJoursOuvrablesDuMois.errors?.required"> Ce champ est obligatoire
                    </mat-error>
                    <mat-error *ngIf="data.form.controls.nombreDeJoursOuvrablesDuMois.errors?.pattern"> Ce champ est non valide
                    </mat-error>
                </mat-form-field>
    </div>
                <div class="">
         <button mat-raised-button color="primary" type="submit" [disabled]="data.form.invalid" class="col-md-12 ">
                      <span *ngIf="
                            data.form.controls.ficheSuiviID.value ==
                            '00000000-0000-0000-0000-000000000000'
                          "><i class="pe-7s-plus" style="padding-right: 5px"></i>Ajouter</span><span *ngIf="
                            data.form.controls.ficheSuiviID.value !=
                            '00000000-0000-0000-0000-000000000000'
                          "><i class="pe-7s-pen" style="padding-right: 5px"></i>Modifier</span>
                    </button>
                </div>
                <div class="">
          
                            <button mat-raised-button color="warn" (click)="onClear()" class="col-md-12 mt-2" >
                      <i class="pe-7s-less" style="padding-right: 5px"></i>Vider
                    </button>
                </div>
                       
                 
                  
                       
                    
       
</div>   
      
    </div>
    


</div> 
</form> 