


<!-- <img src="./assets/images/970x546-bd9cf14a04eda379d934fdb085e44947.jpg" alt="LogoPoulina" "> -->

<!-- <p align="center"> <img src="./assets/images/LogoPoulina.png" height="50%" width="50%" align="center"> </p> -->
<!-- <p align="center"> <img src="./assets/images/Poulina Photo.png" height="50%" width="50%" align="center"> </p> -->
<!-- <br />
<br />
<p align="center"><img src="./assets/images/groupe-poulina.png" height="80%" width="80%" align="center"> </p> -->
<div class="row w-100 h-100 p-5">
    <embed src="../../assets/images/Animation.swf[0].swf"  height="90%" width="100%" align="center"
            quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"
            wmode="transparent">  
        </div>
