<div class="my-auto">
  <span  *ngIf="attachementsList.length==0"><i class="pe-7s-close-circle h4"> </i></span>
</div>
<div class="" *ngFor="let attachement of attachementsList">

  <a style="cursor: pointer;"  (click)="onDownloadattachementFile(attachement.attachmentId,attachement.attachmentOriginFileName)" ><small class="badge badge-light shadow-sm bg-white"><i class="pe-7s-paperclip  text-primary mr-1"></i><i class="text-light">|</i> {{attachement.attachmentOriginFileName}}</small></a>
</div>
